<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device, initial-scale-1.0">
<title>Busola's Blog</title>
<div class="navbar-nav">
<body>
    <ul>
        <li><a href="/blogs/create">Create a blog!</a></li>
        <li><a href="/aboutus">About Us</a></li>
        <li><a href="/">Homepage</a></li>
        <li><a href="/help">Help</a></li>
    </ul>    
</body>
</div>

