<!DOCTYPE html>
<html>
<% include partials/nav%>

    <head>
        <title>Welcome to more about us </title>
    </head>
    <link rel='stylesheet' href='stylesheets/style.css' />

    <body>
        <br>
        <h2>About Akeem's Blog</h2>

        <p> When you write a blog, you have a choice to publish it as annonymous <br> or also have the
            option to publish with your name/initials/profilepicture showing. <br>
            You can even publish it privately where only you can see the post. (like a diary)<br>
            Here at Akeem's blog we give everyone the opportunity to be themselves and feel free. <br>
        </p>

        <div class="center">
            <img src="/images/blog.jpg" alt="Blog" class="center" height="300" width="420" />
        </div>


    </body>

    <% include partials/foot%>

</html>