<!DOCTYPE html>
<html>

<head>
    <title>What Can We Help You With?</title>
    <meta charset="utf-8">
    <link href='/stylesheets/style.css' rel='stylesheet' type='text/css' />
</head>
<nav>
    <% include partials/nav%>
</nav>
<main>
    <h3><a>How do I become a blogger on this website?</a></h3>
    <h3><a href="/blogs/create">How do I write a blog? </a></h3>
    <h3><a href="/blogs/update">Update a blog? </a></h3>
    <h3><a href="/blogs/delete">Delete a blog? </a></h3>
</main>

<body>
    <br><iframe width="560" height="315" src="https://www.youtube.com/embed/SRY8TT9Hxmc" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</body>

<% include partials/foot%>

</html>