<!DOCTYPE html>
<html lang='en'>
<% include partials/nav%>

  <head>
    <title>
      <%= title %>
    </title>
  </head>

  <body>
    <link rel="stylesheet" href="/stylesheets/homepage.css" />
    <div class="row">

      <h1> Akeem's Blog</h1>
      <br>
      <h2> Welcome All</h2>
      <p>"Inspiring to make people Happy" :-></p>
      <h2> About Akeem</h2>
      <p> Akeem's Blog was created after Akeem finding an interest in computing. <br>
        Writing about them and sharing his ideas and problems. <br>
      </p>

      <div class="column">
        <h2>Blog Of the Day</h2>
        <img src="/images/prem.png" alt=" Liverpool VS ManU" height="140" width="180" />
      </div>
    </div>

    <div class="column">
      <h2>Blog Of the Week</h2>
      <img src="/images/covid.png" alt="How social media influences peoples' choices" height="140" width="185" />
    </div>

    <div class="column">
      <h2>Blog Of the Month</h2>
      <img src="/images/mac.png" alt="Beauty By B" height="140" width="150" />
    </div>

    </div>
    </div>
  </body>
  <footer>
    <% include partials/foot%>
  </footer>

</html>