<!DOCTYPE html>
<html>

<head>
    <% include partials/nav%>
        <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<h1>
    <%= title %>
</h1>

<body>
    <div class="wrapper">
        <div style="margin:0 auto ; width:50%; padding:20px">
            <form action="/blogs/update/<%= blog._id %>" method="post">
                <label>Name</label>
                <input type="text" name="name" value="<%= blog.name %>">
                <br /> <br /> <br /> <br />
                <label>Blog Description</label>
                <input type="text" name="description" value="<%= blog.description %>">
                <br /> <br /> <br /> <br />
                <button>submit</button>
            </form>
        </div>
    </div>
</body>
</div>
<% include partials/foot%>

</html>