* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-size: 13px;
  line-height: 1.5;
  color: #000;
  overflow-y: auto;
  background-image: url(/images/Glassy.png);
  background-size: cover;
  background-color: #cccccc;
}
/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: rgb(104, 92, 92);
}

.topnav {
  overflow: hidden;
  background-color: rgb(255, 0, 0);
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

p {
  font-size: 20px;
  line-height: 23px;
  padding: 10px;
}

.wrapper{
  width: 500px;
  margin: 0;
  background-color: #fff;
  padding: 10px;
  background-position: center;
}

/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

.column {
  position: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.p {
  font-size: 35px;
  line-height: 50px;
  padding: 10px
  
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
}

.li {
  display: inline;
}


.li {
  float: center;
  line-height: 52px;
  /* margin: 0 2px; */
}
li a {
  line-height: 52px;
  display: block;
  height: 52px;
  color: #666666;
  font-weight: 600;
  padding: 0 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #979797;
}

li {
  float: left;
}

.li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

h1 {
  font-size: 3em;
  margin-top: 30px;
}
a.thumb-pr {
  display: block;
  width: 230px;
  font-size: 2em;
  color: white;
  height: 230px;
  float: left;
  padding: 40px;
  /* line-height: 365px; */
  margin-bottom: 20px;
}

.thumb-pr.mn {
  width: 520px;
  float: left;
  background-image: url(/images/Glassy.png) no-repeat center center / cover;
  color: white;
  /* line-height: 650px; */
  height: 480px;
  padding: 0 40px;
  font-size: 4em;
}
.container {
  overflow: auto;
  margin-top: 40px;
}
a.sh-c:hover {
  color: transparent;
}
.dropdown-content {
  display: none;
  position: absolute;
  background: #222;
  width: 230px;
  padding: 5px;
  min-height: 100px;
  margin-left: -200px;
  line-height: initial;
  margin-top: -10px;
  z-index: 9999;
  border-radius: 5px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  padding: 4px 15px;
  text-decoration: none;
  font-weight: 500;
  /* font-size: 15px; */
  height: auto;
  line-height: initial;
  display: block;
  text-align: left;
}

center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

footer {
  padding: 30px;
  text-align: center;
  color: #fff;
  background-color: #333;
  margin-top: 20px;
  width:100%;
  height:150px;
}